@{
    ViewData["Title"] = "Remover Cliente";
}

<div class="text-center">

    <h3>Realmente deseja apagar (aaaaa)?</h3>

</div>

<div class="text-center" style="margin-top: 10%;">

    <a class="btn btn-primary" role="button" asp-controller="Produto" asp-action="Index">Cancelar ação</a>

    <a class="btn btn-danger" role="button" asp-controller="Produto" asp-action="Apagar">Confirmar ação</a>

</div>